* {
    font-family: 'JetBrains Mono', monospace !important;
}

.info-box {
  max-width: 800px;
  margin: 0 auto;

  text-align: justify;
}

.desc {
  max-width: 800px;
  margin: auto;
}

li {
  font-size: larger;
  text-align: justify;
}

.textbg {
  font-size: larger;
}


.card img {
  border-radius: 0.375rem;
}