* {
    font-family: 'JetBrains Mono', monospace !important;
}

.info-box {
  max-width: 800px;
  margin: 0 auto;
  padding:20px;
  text-align: justify;
}

.desc {
  max-width: 800px;
  margin: 0 auto;
  padding:20px;
}